{% extends "::base.html.twig" %}

{% block title %}AppBundle:Registration:register{% endblock %}

{% block body %}
    <a href="{{ url }}" class="btn btn-primary">Register Facebook</a>
{% endblock %}
